*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    background: black;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 50px;
}
.box{
    width: 90%;
    height: 300px;
    /* background: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 20px;
    /* flex-wrap: wrap; */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.box .sub-box1 {
    height: 80%;
    width: 40%;
    /* background: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat; */
    border-radius: 5px;
    overflow: hidden;
}
.sub-box1 img{
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    border-radius: 5px;
}
.box .sub-box2 {
    height: 80%;
    width: 55%;
    /* background: gray; */
    padding: 20px; 
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}
.sub-box2 > div{
    margin-bottom: 30px;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.paragraph{
    color: white;
}
.button1 a{
    background: #1E232B;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    row-gap: 15px;
    flex-direction: row;
}
@media (max-width: 1230px){
    .box {
        height: 500px;
        flex-direction: column;
    }
    .sub-box2 > div{
        margin-bottom: 15px;
    }
    .box .sub-box1{
        height: 70%;
        width: 70%;
    }
    .box .sub-box2{
        height: 100%%;
        width: 80%;
        padding: 8px; 
    }
}
@media(max-width: 430px){
    h1{
        margin-bottom: 10px;
        font-size: 30px;
    }
    .box .sub-box1{
        width: 90%;
        height: 60%;
    }
    .box .sub-box2{
        width: 100%;
        padding: 0px; 
    }
    .paragraph{
        font-size: 15px;
    }
    .button1 a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        margin: 15px;
        flex-direction: column;
        
    }
}
